# Prerequisites
*.d

# Compiled Object files
bin/
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
webserv
/tests/amethyst/tester
*.exe
*.out
*.app

# IDEs
.vscode/